*
{
    margin:0px;
    padding:0px;
    font-family:poppins;
    box-sizing:border-box;
}
.container
{
    background-image:linear-gradient(to top right, #023047 35%,#ff006e);
    min-height:100vh;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
}
.left,.right
{
    width:300px;
    height:380px;
    border:2px dashed #e7c6ff;
}
.list
{
    background-color:#ffc300;
    padding:10px 20px;
    border:1px solid #e7c6ff;
    margin:18px 18px;
    color:#000000;
    font-size:18px;
}
.list i{
    padding-right:20px;
}
@media screen and (max-width:768px){
    .container{
        flex-wrap:wrap;
        gap:10px;
        justify-content:center;

    }
    .left,.right{
        width:160px;
        height:280px;
    }
    .list{
        padding:5px 8px;
        margin:10px 5px;
        font-size:12px;
    }
    .list i
    {
        padding-right:10px;
    }
}
